.header-nav {
  padding: 0 20px;
}

.content {
  min-height: calc(100vh - 64px - 65px);
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.loader-wrapp {
  position: absolute;
  top: 50%;
  left: 50%;
}

.search-btn {
  position: absolute;
  top: 0;
  right: 0;
}

label:not(:last-child) {
  margin-right: 1rem;
}